.Gears {
  background-color: #00b4bb;
  position: fixed;
  width: 40vw;
  height: 100vh;

  overflow-x: visible;
}

.Gears > img {
  position: absolute;
  filter: drop-shadow(-30px 4px 20px rgb(0 0 0 / 0.25))
    drop-shadow(30px 4px 20px rgb(0 0 0 / 0.25));
  z-index: 1;
}

.Home {
  height: 100vh;
  position: fixed;
  right: 0;
  left: 40vw;
  box-shadow: -34px 4px 30px 0px rgba(0, 0, 0, 0.25);
  z-index: 2;
  overflow-x: hidden;
  overflow-y: hidden;
}

.Home .heading {
  position: absolute;
  left: 10vw;
  top: 6vw;
}

.Home .background {
  position: absolute;
  right: 0;
  top: 0;
  width: 1440px;
  height: 1024px;
  background-color: #00b4bb;
  mask: url("/public/about-bg.svg");
  z-index: 0;
}

.Home .mask {
  position: absolute;
  right: 0;
  top: 0;
  width: 1440px;
  height: 1024px;
  background-color: #000000;
  opacity: 0;
  z-index: 0;
}

.About {
  position: fixed;
  left: 60vw;
}

.About .heading {
  position: absolute;
  width: 40vw;
  left: 1vw;
  top: 6vw;
}

.About .heading h1 {
  font-size: 72px;
}

.About .heading p {
  font-size: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.About .heading a {
  color: #2794e3;
  font-size: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Project {
  transition: 1s;
  position: fixed;
  top: 5vh;
  left: 27vw;
  opacity: 0;
}

.Project .list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 40px;
}

.Project .card {
  width: 17vw;
  height: 17vw;
  border-radius: 12px;
  background: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 60px;
  padding: 20px;
}

.Project .card .logo {
  text-align: center;
  padding-top: 2rem;
  
}
.Project .card .logo img{
width: 100%;
  
}
.Project .card h2 {
  font-size: 2rem;
  font-family: Roboto;
}

/* elements */
/* elements */

i {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

h1 {
  font-size: 80px;
  font-family: Caveat;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  font-size: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  font-size: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

header {
  color: #fff;
  padding: 10px;
  position: absolute;
  right: 3vw;
  bottom: 91vh;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
